body{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Press Start 2P', cursive; border-radius: 15px;
}

.container{
  width:100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 0;
}

.box{
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.box-avatar{
  display:flex; align-items: center; justify-content: center; margin-bottom: 15px;
}

.name-avatar{
  font-size: 26px;
  padding: 10px;
  text-align: center;
  align-self: center;
  justify-self: center;
  margin-bottom: 15px;
  border: 2px solid rgba(101, 201, 255, 0.8);
  color: rgb(101, 201, 255);
}

.name-avatar:focus{
  border: 2px solid rgba(101, 201, 255, 1);
  outline: 0;
}

.name-avatar::placeholder {
  color: rgba(101, 201, 255, 0.8);
}

.box-personalizations{
  display:flex;
  flex-direction: column;
  flex:1;
}

.type-personalizations{
  display: flex;
  height: 26px;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  cursor: pointer;
}

.personalizations{
  display: flex;
  padding: 10px;
  height: 128px;
  margin: 0;
  gap: 16px;
  overflow-y: hidden;
  overflow-x: auto;
  justify-content: flex-start
}

.color-by-personalizations{
  display: flex;
  padding: 10px;
  margin: 0;
  gap: 16px;
  justify-content: center;
}

.personalizations > :first-child { margin-left: auto }
.personalizations > :last-child { margin-right: auto }

.personalizations::-webkit-scrollbar {
  height: 10px;
}

.personalizations::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.personalizations::-webkit-scrollbar-thumb {
  background-color: rgba(101, 201, 255, 0.8);
  border-radius: 100px;
}

.personalizations div{
  cursor: pointer;
}

.item-type-personalization{
  flex:1;
  height: 26px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  text-align: center;
  padding: 2.5px 10px;
}

.item-type-personalization.active{
  border: 2px solid rgba(101, 201, 255, 0.8);
  color: rgb(101, 201, 255);
}

.color-by-personalizations .circle-color 
{
  width: 32px;
  height: 32px;
}

.circle-color {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid #eee;
}